<table class="table table-bordered align-middle bg-white">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Price</th>
      <th style="width: 130px">Image</th>
      <th style="width: 130px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th>{{ i + 1 }}</th>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td style="width: 130px">
        <img
          [src]="product.image"
          alt="{{ product.title }}"
          width="100"
          height="100"
        />
      </td>
      <td style="width: 130px">
        <div class="btn-group" role="group">
          <button class="btn btn-danger" (click)="removeProduct(product)">
            Delete
          </button>
          <a
            class="btn btn-primary"
            routerLink="/admin/edit-product/{{ product.id }}"
            >Edit</a
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>
