<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Angular Fire App</a>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="!user"
      >
        <a routerLink="/sign-in" class="nav-link">Sign In</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="!user"
      >
        <a routerLink="/sign-up" class="nav-link">Sign Up</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user"
      >
        <a routerLink="/admin/products" class="nav-link" aria-current="page"
          >Products</a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user"
      >
        <a class="nav-link" routerLink="/admin/add-product">Add Product</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user"
      >
        <span class="d-block navbar-text px-3"
          >Welcome <strong>{{ user.email }}</strong></span
        >
      </li>
      <li class="nav-item" *ngIf="user">
        <button class="btn btn-outline-danger" (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
<div class="container bg-light">
  <router-outlet></router-outlet>
</div>
